[package]
authors = ["Jorge Aparicio <japaricious@gmail.com>", "Brook Heisler <brookheisler@gmail.com>"]
name = "criterion-plot"
version = "0.2.5"

description = "Criterion's plotting library"
repository = "https://github.com/bheisler/criterion.rs"
readme = "README.md"
keywords = ["plotting", "gnuplot", "criterion"]
categories = ["visualization"]
license = "MIT/Apache-2.0"

[dependencies]
byteorder = "1"
cast = "0.2"
itertools = "0.7"
failure = "0.1.3"
failure_derive = "0.1.3"

[dev-dependencies]
itertools-num = "0.1"
num-complex = { version = "0.2", default-features = false, features = ["std"] }
rand = "0.4" # 0.4 is required to maintain compatibility with Rust 1.23

[badges]
travis-ci = { repository = "bheisler/criterion.rs" }
appveyor = { repository = "bheisler/criterion.rs", id = "4255ads9ctpupcl2" }
maintenance = { status = "passively-maintained" }
